body{
    flex-direction: column;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
main{
    background-image: url("../assets/img/body_bg.png");
    flex: 1;
    overflow-y: auto;
}
.main_wrapper{
    width: 100%;
    height: 100vh;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    background-color: white;
    background-image: url("../assets/img/container_bg.png");
}
.main_wrapper_impressum{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 100px;
    max-width: 1440px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-image: url("../assets/img/container_bg.png");
}
header{
    background-color: #313131;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.container_header{
    margin: 0 auto;
    max-width: 1440px;
    height: 80px;
    padding: 8px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
footer{
    height: 80px;
    background-color: #313131;
}
.container_footer{
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 0px;
    color: white;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.pokeball_icon_footer{
    height: 32px;
}
.container_input_field{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 400px;
    gap: 16px
}
.submit_btn{
    width: 60px;
    background-color: #EE6B2F;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.input_field{
    flex: 1;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}
.pokeball_icon{
    height: 64px;
    margin: 0px 16px;
}
.container_icon{
    display: flex;
    align-items: center;
}
.main_img_container{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid lightgray;
}
.container_impressum{
    color: #313131;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-size: 24px;
}
.first_column_impressum{
    width: 120px;
}
.headline{
    font-size: 60px;
    font-weight: bold;
}
.name_container{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modul-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modul-content{
    height: 600px;
}
.modal-pokemon-img-container{
    display: flex;
    JUSTIFY-CONTENT: center;
    height: 300px;
    padding: 8px;
    border-radius: 8px;
}
.modal-pokemon-img{
    width: 100%;
}
dialog::backdrop{
    background-color: rgba(0,0,0,0.6);
}
#overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .8;
    z-index: 2;
}
.loader {
  position: relative;
  width: 300px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.d_none{
    display: none !important;
}
.load_more_btn{
    margin: 16px;
    padding: 8px;
    font-size: 16px;
    background-color: #313131;
    border-radius: 4px;
    color: white;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
}
.load_more_container{
    display: flex;
    justify-content: center;
}
.pokemon_modal{
    position: absolute;
}
.pokemon_modal::backdrop{
    background-color: rgba(0,0,0,0.375);
}
.modal-pokemon-id{
    margin-left: 8px;
}
.modal-preferences{
    display: flex;
}
.modal-footer{
    justify-content: space-between;
}
.owner_name{
    margin: 0px;
}

@media(max-width: 1050px){
   
}
@media(min-width: 601px){
       dialog{
        display: none;
    }
}
@media(max-width: 600px){
    main{
        flex-direction: column;
    }
    .main_wrapper{
        width:100%;
    }
}