.animating{
    opacity: 1;
    top: 0px;
    left: 0px;
}
.animating:hover{
    animation-name: pulse;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; 
}
@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.pokedex_results .results li{
    display: block;
    float: left;
    position: relative;
    margin: 1% 2%;
    width: 15.5%;
}
.pokedex_results .results li button {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    border: none;
}
.pokedex_results .results li button img {
    background-color: #F2F2F2;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 5px 5px 15px black;
}
.pokedex_results{
    position: relative;
    height: auto;
}
.pokedex_results .results{
    float: left;
    margin-right: -100%;
    width: 100%;
}
.pokedex_results .results li .pokemon_info {
    clear: both;
    top: -5px;
    padding-left: 7.2525%
}
.pokedex_results .results li .pokemon_info .id {
    font-family: "Flexo-Bold",arial,sans-serif;
    color: #919191;
    font-size: 80%;
    padding-top: 2px;
    margin-bottom: 0px
}
.pokedex_results .results li .pokemon_info .abilities span {
    border-radius: 3px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 14px;
    text-align: center
}
.pokedex_results .results li .pokemon_info h5 {
    font-family: blinker;
    font-weight: 600;
    color: #313131;
    text-transform: none;
    font-size: 145%;
    margin-bottom: 5px
}

.background_color_bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff
}

.background_color_dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff
}

.background_color_dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff
}

.background_color_electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121
}

.background_color_fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121
}

.background_color_fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff
}

.background_color_fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff
}

.background_color_flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121
}

.background_color_ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff
}

.background_color_grass {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121
}

.background_color_ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121
}

.background_color_ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121
}

.background_color_normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121
}

.background_color_poison {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff
}

.background_color_psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff
}

.background_color_rock {
     background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff
}

.background_color_steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121
}

.background_color_water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff
}

@media(max-width: 1000px){
    .pokedex_results .results li{
        width: 20%;
    }


}

@media(max-width: 900px){
    .pokedex_results .results li .pokemon_info h5{
        font-size: 100%;
    }
    ul{
        padding-left: 5%;
    }
    .pokedex_results .results li .pokemon_info .abilities span{
        width: unset;
        padding: 0px 4px
    }
    
}

@media(max-width: 800px){
    .pokedex_results .results li{
        width: 25%;
    }
    ul{
        padding-left: 10%;
    }
}

@media(max-width: 700px){
    .container_header{
        flex-direction: column;
        align-items: center;
        height: 160px;
    }
    .container_input_field{
        height: 40%;
    }
}

@media(max-width: 600px){
    .pokedex_results .results li{
        width: 28%;
    }
    .pokedex_results .results li .pokemon_info .abilities span{
        font-size: 12px;
    }
    
}

@media(max-width: 400px){
    .pokedex_results .results li{
        width: 40%;
    }
}
