*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: blinker;
}
h1{
    margin: 8px;
    color: white;
    font-size: 3em;
}
h5{
    font-weight: 600;
    font-size: 24px;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
tr{
    text-align: center;
}
.td-left{
    text-align: left;
}
.pref-name{
    width: 70px;
}
table{
    width: 100%;
}

@font-face {
    font-family: blinker;
    src: url("/assets/fonts/Blinker/Blinker-Regular.ttf");
    font-display: fallback;
}